Django==5.2.1
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
matplotlib==3.10.3
plotly==6.0.1
mysql-connector-python==9.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
SQLAlchemy==2.0.40
supabase==2.15.1
openai==1.78.0
hugchart==0.0.8
django-crispy-forms==2.4
pylint==3.3.7
mysqlclient==2.2.7
django-cors-headers==4.7.0
langchain==0.3.25
jinjasql==0.1.8
